@font-face {
    font-family: "Poppins-bold";
    src: local(Poppins-bold),
      url(./Fonts/Poppins-Bold.woff2) format("woff2"),
      url(./Fonts/Poppins-Bold.woff) format("woff"),
}
@font-face {
    font-family: "Poppins-Medium";
    src: local(Poppins-Medium),
      url(./Fonts/Poppins-Medium.woff2) format("woff2"),
      url(./Fonts/Poppins-Medium.woff) format("woff"),
}
@font-face {
    font-family: "Poppins-Regular";
    src: local(Poppins-Regular),
      url(./Fonts/Poppins-Regular.woff2) format("woff2"),
      url(./Fonts/Poppins-Regular.woff) format("woff"),
}
@font-face {
    font-family: "Roboto-bold";
    src: local(Roboto-bold),
      url(./Fonts/Roboto-bold.woff2) format("woff2"),
      url(./Fonts/Roboto-bold.woff) format("woff"),
}
@font-face {
    font-family: "Roboto-Medium";
    src: local(Roboto-Medium),
      url(./Fonts/Roboto-Medium.woff2) format("woff2"),
      url(./Fonts/Roboto-Medium.woff) format("woff"),
}
@font-face {
    font-family: "Roboto-Regular";
    src: local(Poppins_Regular),
      url(./Fonts/Poppins-Regular.woff2) format("woff2"),
      url(./Fonts/Poppins-Regular.woff) format("woff"),
}
